<template>
  <div class="animated fadeIn">
    <div class="dashboard" :id="mapName">
      <google-map name="example"></google-map>
    </div>
     <select id="radius_km">
      <option value=1>1km</option>
      <option value=2>2km</option>
      <option value=5>5km</option>
      <option value=30>30km</option>
    </select>
    <button id="calcRoute" type="button" class="btn btn-primary pull-right btn-lg">Calcular</button>
  </div>
</template>

<script>
import CardLine1ChartExample from "./dashboard/CardLine1ChartExample";
import CardLine2ChartExample from "./dashboard/CardLine2ChartExample";
import CardLine3ChartExample from "./dashboard/CardLine3ChartExample";
import CardBarChartExample from "./dashboard/CardBarChartExample";
import MainChartExample from "./dashboard/MainChartExample";
import SocialBoxChartExample from "./dashboard/SocialBoxChartExample";
import CalloutChartExample from "./dashboard/CalloutChartExample";
import { Callout } from "@coreui/vue";

var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var markerSource;
var markerTarget;
var myMap;

function makeInfoWindowEvent(map, infowindow, contentString, marker, markers) {
  if (marker.if == 0){
    
  }
  google.maps.event.addListener(marker, "click", function() {
    markerSource = marker;
    // CALCULANDO A DISTANCIA
    markerTarget = closerMarkers(marker, markers);
    infowindow.setContent(contentString);
    infowindow.open(map, marker);
    //bindRadius(marker, map);
    if (marker.id != 0) {
      document
        .getElementById("calcRoute")
        .addEventListener("click", function() {
          calcRoute();
        });
    }
  });
}

function bindRadius(marker, radius) {
  // Add circle overlay and bind to marker
  var circle = new google.maps.Circle({
    map: myMap,
    radius: radius,
    fillColor: "#AAAAAA"
  });
  circle.bindTo("center", marker, "position");
  // circle.bindTo("center", marker, position);
}

function calcRoute() {
  if (markerSource != null && markerTarget != null) {
    if (directionsService != null) {
      var start = markerSource.position;
      var end = markerTarget.position;

      var request = {
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode.DRIVING
      };

      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
          directionsDisplay.setOptions({ suppressMarkers: true });
          directionsDisplay.setMap(myMap);
        } else {
          alert(
            "Directions Request from " +
              start.toUrlValue(6) +
              " to " +
              end.toUrlValue(6) +
              " failed: " +
              status
          );
        }
      });
    } else {
      alert("Problema ao criar direção.");
    }
  } else {
    alert("Não há pontos de saída e de destino para calcular uma rota.");
  }
}

// Nível no banco   | Cor         | Descrição
// ---------------------------------------------------------------
// 0                | Azul        | Recurso
// 5                | Roxo        | Atendimento não padronizado
// 4                | Vermelho    | Atendimento emergencial
// 3                | Amarelo     | Atendimento com prioridade
// 2                | Ciano       | Atendimento normal
// 1                | Laranja     | Atendimento de longo prazo
// ---------------------------------------------------------------

// Padroniza os marcadores de acordo com o id que receberam e com a tabela acima
function generateMarkersIcons(id) {
  var color;
  switch (id) {
    case 0:
      color = "blue";
      break;
    case 5:
      color = "purple";
      break;
    case 4:
      color = "red";
      break;
    case 3:
      color = "yellow";
      break;
    case 2:
      color = "green";
      break;
    case 1:
      color = "orange";
      break;
    default:
      console.log("Id inválido para o marcador.");
      break;
  }
  // console.log(color);
  return "http://maps.google.com/mapfiles/ms/icons/" + color + "-dot.png";
}

// function searchArea() {
//   var radius_km = document.getElementById("radius_km").value;
//   radius_km *= 1000;
//   // #bindRadius(main_marker, radius_km);
//   var i = 0;
//   if (markers.length >= 2) {
//     do {
//       var less;
//       var lessDist;
//       markers.forEach(m => {
//         var res = google.maps.geometry.spherical.computeDistanceBetween(
//           m.position,
//           main_marker.getPosition()
//         );
//         if (lessDist == null && res != 0) {
//           lessDist = res;
//           less = m;
//         }
//         if (less != null && res != 0) {
//           if (res < lessDist) {
//             lessDist = res;
//             less = m;
//           }
//         }
//       });

//       i += 3;
//     } while (res != null || i <= 30);

//     if (less != null) {
//       // alert("Menor distância = " + lessDist);
//       console.log("Menor distância = " + lessDist);
//       return less;
//     } else {
//       alert("Não foram encontrados registros dentro do raio de " + i + "km");
//     }
//   } else {
//     alert("Não há marcadores suficientes para calcular distancia.");
//     return null;
//   }
//   // console.log(google.maps.geometry.spherical.computeDistanceBetween(rowLatLng, main_marker.getPosition()));
// }

function closerMarkers(main_marker, markers) {
  if (markers.length >= 2) {
      var less;
      var lessDist;
      markers.forEach(m => {
        var res = google.maps.geometry.spherical.computeDistanceBetween(
          m.position,
          main_marker.getPosition()
        );
        if (lessDist == null && res != 0) {
          lessDist = res;
          less = m;
        }
        if (less != null && res != 0) {
          if (res < lessDist) {
            lessDist = res;
            less = m;
          }
        }
      });

    if (less != null) {
      // alert("Menor distância = " + lessDist);
      console.log("Menor distância = " + lessDist);
      return less;
    } else {
      alert("Não foram encontrados registros dentro do raio de " +  + "km");
    }
  } else {
    alert("Não há marcadores suficientes para calcular distancia.");
    return null;
  }
  // console.log(google.maps.geometry.spherical.computeDistanceBetween(rowLatLng, main_marker.getPosition()));
}

export default {
  name: "dashboard",
  props: ["name"],
  components: {
    Callout,
    CardLine1ChartExample,
    CardLine2ChartExample,
    CardLine3ChartExample,
    CardBarChartExample,
    MainChartExample,
    SocialBoxChartExample,
    CalloutChartExample
  },
  data: function() {
    return {
      selected: "Month",
      mapName: "google-map",
      markerCoordinates: [
        {
          id: 1,
          latitude: 51.501527,
          longitude: -0.1921837
        },
        {
          id: 2,
          latitude: 51.505874,
          longitude: -0.1838486
        },
        {
          id: 3,
          latitude: 51.4998973,
          longitude: -0.202432
        },
        {
          id: 4,
          latitude: 55.4998973,
          longitude: -0.202432
        },
        {
          id: 5,
          latitude: 52.4998973,
          longitude: -0.202432
        },
        {
          id: 2,
          latitude: 52.4998973,
          longitude: -1.212432
        },
        {
          id: 0,
          latitude: 53.4998973,
          longitude: -1.212432
        }
      ],
      map: null,
      bounds: null,
      markers: []
    };
  },
  mounted: function() {
    directionsDisplay = new google.maps.DirectionsRenderer({
      draggable: false
      // , preserveViewport: true
    });
    this.bounds = new google.maps.LatLngBounds();
    const element = document.getElementById(this.mapName);
    const mapCentre = this.markerCoordinates[0];
    const options = {
      center: new google.maps.LatLng(mapCentre.latitude, mapCentre.longitude),
      zoom: 14,
      mapTypeControl: true,
      mapTypeControlOptions: {
        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
      },
      navigationControl: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var infowindow = new google.maps.InfoWindow();
    this.map = new google.maps.Map(element, options);
    myMap = this.map;
    directionsDisplay.setMap(this.map);

    this.markerCoordinates.forEach(coord => {
      const position = new google.maps.LatLng(coord.latitude, coord.longitude);
      const marker = new google.maps.Marker({
        position,
        map: this.map,
        icon: generateMarkersIcons(coord.id)
      });

      var stringContent =
        "ID: " +
        coord.id +
        "\tLat: " +
        coord.latitude +
        "\tLong: " +
        coord.longitude;
      makeInfoWindowEvent(
        this.map,
        infowindow,
        stringContent,
        marker,
        this.markers
      );

      this.markers.push(marker);
      this.map.fitBounds(this.bounds.extend(position));
    });
  },
  methods: {
    variant(value) {
      let $variant;
      if (value <= 25) {
        $variant = "info";
      } else if (value > 25 && value <= 50) {
        $variant = "success";
      } else if (value > 50 && value <= 75) {
        $variant = "warning";
      } else if (value > 75 && value <= 100) {
        $variant = "danger";
      }
      return $variant;
    },
    flag(value) {
      return "flag-icon flag-icon-" + value;
    }
  }
};
</script>

<style>
/* IE fix */
#card-chart-01,
#card-chart-02 {
  width: 100% !important;
}

.dashboard {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  background: gray;
}
</style>
